<div>
    <h1>{{hello}}</h1>
    <h2>{{#t}}fmc{{/t}} {{orgType}}</h2>
    <p>version: {{ver}} </p>
    <p>user: {{user}} </p>
    <p class="test-pl">
        <input type="text" id="aNum" /> + <input type="text" id="bNum" /> = <span id="retNum">0</span>
        <button class="test-btn" onclick="testAdd()">求和计算</button>
    </p>
    <p>
        <button onclick="{{#go}}{"tag":"home"}{{/go}}">返回首页</button>
    </p>
    <br />
    <p>
        <button class="test-btn" onclick="openScan()">开启扫码</button>
        <button class="test-btn" onclick="openCamera()">开启拍照</button>
    </p>
    <br />
    <div class="am-tabs" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="javascript: void(0)">牛蹄中鱼</a></li>
            <li><a href="javascript: void(0)">炙手可热</a></li>
            <li><a href="javascript: void(0)">深思远虑</a></li>
        </ul>
        <div class="am-tabs-bd">
            <div class="am-tab-panel am-active">
                战国时期，宋国庄周家贫，一次向他的朋友监河侯借粮食时，朋友推说等收了租再借给他。他给朋友讲：路上遇到一条牛蹄印里水快干的鲫鱼向他求助，他答应鲫鱼说到要去吴国越国去给他借水，鲫鱼说等你回来时，我已经挂在鱼肆了。
                牛蹄中鱼的意思是：牛蹄：是指牛蹄印里的积水。牛蹄印坑里的鱼。比喻死期迫近。
            </div>
            <div class="am-tab-panel">
                唐玄宗李隆基年轻时是一个很有作为的皇帝，但是，唐玄宗后来任用李林甫为丞相，政治开始腐败。公元745年，他封杨玉环为贵妃，纵情声色，奢侈荒淫，政治越来越腐败了。杨贵妃有个堂兄叫杨刽。由于杨贵妃得宠，杨刽也平步青云，做了御史，唐玄宗还赐名“国忠”。不久，李林甫死了，唐玄宗便任命杨国忠做丞相，把朝廷政事全部交给杨国忠处理。一时之间，杨家兄妹权势熏天，他们结党营私，把整个朝廷搞得乌烟瘴气，以致不久以后就爆发了安禄山、史思明的叛乱。可当时，杨家兄妹过着花天酒地、穷奢极欲的生活。
            　　公元753年3月3日，杨贵妃等人到曲江边游春野宴，轰动一时。诗人杜甫对杨家兄妹这种只顾自己享乐，不管人民死活的行为极为愤慨，写出了著名的《丽人行》一诗，大胆揭露和深刻讽刺了杨家兄妹生活的奢侈和权势的显赫。“炙手可热势绝伦，慎莫近前丞相嗔！”便是诗中的二句。这二句诗的意思是：杨家权重位高，势焰的人，没有人能与之相比；你千万不要走近前去，以免惹得丞相发怒生气。
                炙手可热的意思是：手摸上去感到热得烫人。比喻权势大，气焰盛，使人不敢接近。
            </div>
            <div class="am-tab-panel">
                汉朝时期，汉哀帝的老师师丹为人廉正守道，深得皇帝的信任，在改革币制问题上他认为时机不成熟，国弱民贫会引起恶性循环。由于他曾得罪丁太后及傅太后，因而被认为不支持改革。申咸为他求情说此事师丹欠深思远虑，但不应治罪。
                深思远虑的意思是：谋划周密，老虎长远。指计划周到，具有远见。
            </div>
        </div>
    </div>
</div>