<!DOCTYPE html>
<html>

<head>
    <style>
        body{width:90%;margin:3%;}
    </style>
    <link rel="stylesheet" href="stylesheets/markdown.css">
    <link rel="stylesheet" href="stylesheets/hightlight/github.css">
</head>

<body>
    <div class="markdown-body editormd-preview-container editormd-preview-active" previewcontainer="true">
        <%- doc %>
    </div>
</body>

</html>