<!DOCTYPE html>
<html>
<!-- <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/> -->
<!-- 适配屏幕的方案是采用虚拟的“窗口”(viewport)缩放，算出缩放比，设置scale做到适配所有机型 -->
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />

<head>
    <!-- <title>权限认证</title> -->
</head>

<body>
    <h4 style="text-align:center;margin-top:200px;">404页面丢失,请联系管理员!</h4>
    <h5 style="text-align:center;margin-top:20px; color:#aaa;"><%= msg %></h5>
    <h6 style="text-align:center;margin-top:20px; color:#f00;"><%= data %></h6>
</body>

</html>