body,
html {
  -webkit-tap-highlight-color: transparent
}

body {
  overflow-x      : hidden;
  background-color: #f2f2f2
}

body,
div,
ul,
ol,
dl,
dt,
dd,
li,
dl,
h1,
h2,
h3,
h4 {
  margin    : 0;
  padding   : 0;
  font-style: normal;
  font      : 12px/22px"\5B8B\4F53", Arial, Helvetica, sans-serif
}

ol,
ul,
li {
  list-style: none;
}
